<div class="list-groups">
  <div class="list-group col-md-12">
    <table class="table-cv list-group-table">
      <tbody>
        <tr>
          <td class="list-group-category">
            <b>Research Fields of Interest</b>
          </td>
        </tr>
        {% for field in data[1] %}
          <tr>
            <td class="list-group-name">
              {{ field }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
